<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Sign in with Apple - requires paid Apple Developer account ($99/year)
	     Uncomment when you have a paid account and enable the capability in developer.apple.com
	<key>com.apple.developer.applesignin</key>
	<array>
		<string>Default</string>
	</array>
	-->
</dict>
</plist>
